.home-apresentation{
  padding: 40rem 0px 40rem 0px;
  height: 100vh;
}

.apresentation {
  width: 25%;
  border-radius: 100%;
background-color: #ffffff18;
box-shadow: 
  0 0 180px 100px #ffffff10,  /* inner */
  0 0 280px 170px #ffffff08, /* middle */
  0 0 300px 240px #ffffff06; /* outer */
}

.apresentation h2 {
  font-size: 3rem;

  @media (max-width: 630px) {
    font-size: 1.5rem;
  }
}

.apresentation p {
  font-size: 1.5rem;

  @media (max-width: 630px) {
    font-size: 0.75rem;
  }
}

.coding-photo{
  width: 25%;
  @media (max-width: 630px) {
    width: 60%;
  }
}

.animated-arrow {
animation: bounce 1s infinite ease-in-out;
}
  @keyframes bounce {
    0% {
      transform: translateY(0); 
    }
    50% {
      transform: translateY(2px);
    }
    100% {
      transform: translateY(0);
    }
  } 
